{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
  <h3>Edit Wallet</h3>
  <form action="/WM/{{wm.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" type="text" value="{{wm.title}}" required>
    </div>
    <div class="form-group">
      <label for="due">Amount</label>
      <input class="form-control" name="Amount" type="text" value="{{wm.Amount}}" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>{{wm.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
